*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Inter";

}

:root{
    --cor-background1: #0B0911;
    --cor-background2: #130F1E;
    --cor-Frame: #1C162C;
    --cor-buttonPrimary: #8257E5;
    --cor-buttonHover:#9674E5;
    --cor-buttonFocus:#8257E5 #D9CDF7;
    --cor-button-secondary: #3C3748;
    --cor-button-secondaryHover:#6A617F;
    --cor-button-secondaryF: #D9CDF7;
    --cor-button-secondaryFocus:#FFFFFF;
    --cor-texto:#fff;
    --cor-sociallist:#a7a7a7;
    --cor-rodape:#272727;
}

body{
    position: relative;
    width: 1517px;
    height: 947px;
    background: #0B0911;
    border-radius: 8px;
    display: grid;
    height: 100vh;
    place-content: center;
    gap: 16px;

    /* display: grid;
    grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 10vh auto;
    grid-gap: 32px;
    padding: 32px; */
    
}

header{
    width: 100%;
    padding: 16px;
    margin: 79px auto 64px 77px;
}

/* ======= Title ====== */

.title {
    /* font-family: var(--font-primary);
    color: var(--cor-texto);
    font-style: normal;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 32px; */

    font-family: 'Roboto';
    color: var(--cor-texto);
    font-style: normal;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 23px;
    font-size: 19.2059px;
}

h1{
    width: 233px;
height: 32px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
/* line-height: 100%; */
/* identical to box height, or 32px */


color: #FFFFFF;
}


/* .subtitle {
    font-family: var(--font-primary);
    color: var(--cor-texto);
    font-style: normal;
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 32px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 318px;
    height: 86px;
    left: 150vh;
    top: -67px;
} */


/* ======= Section ====== */
section{
    width: 100%;
    margin-bottom: 110px;
    margin-left: 77px;
}
/* ======= Table ====== */
table{
    border: 4px solid var(--cor-Frame);
    inline-size: -webkit-fill-available;
}

/* ======= Type button ====== */

th{
    /* padding: 24px 16px; */
    height: 74px;
    background: var(--cor-Frame);
    color: var(--cor-texto);
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    border-radius: 0px 0px 8px 0px;
    /* line-height: 13rem; */
}

td {
    height: 75px;
    width: 200px;
    /* text-align: center; */
    padding: 8px;
    text-align: -webkit-center;
}

#btn-text {
    font-family: var(--font-primary);
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    padding: 17px;
    background-color: var(--cor-Frame);
    color: white;
    border-radius: 0px 0px 8px 0px;
}

/* ======= Botão Primário ====== */
button{
    background-color: var(--cor-buttonPrimary);
    font-family: var(--font-primary);
    border: 0;
    color: var(--cor-texto);
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 24px;

    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    /* cursor: pointer; */
}

.hover:hover {
    background-color: var(--cor-buttonHover);
}

.focuus:focus {
    outline: 3px solid #D9CDF7;
}

button:disabled {
    opacity: 0.56;
    cursor: not-allowed;
    background-color: var(--cor-buttonPrimary);
}

.loandinng{
    cursor: progress;
}

.loandinng i {
    font-size: 18px;
    animation: spin 700ms normal linear;
}

.movable{
    cursor: move;
}

/* ======= Botão Secundário ====== */
button.secondary{
    background-color: var(--cor-button-secondary);
    font-family: var(--font-primary);
    border: 0;
    color: var(--cor-texto);
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 24px;

    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;
    /* cursor: pointer; */
}

.hoverr:hover {
    background-color: var(--cor-button-secondaryHover);
}

.focus:focus {
    outline: 3px solid var(--cor-button-secondaryFocus);
}

button.disabled:disabled {
    opacity: 0.56;
    cursor: not-allowed;
}

.loadingg{
    cursor: progress;
}
.loadingg i {
    font-size: 18px;
    animation: spin 700ms normal linear;
}

.movable.movable{
    cursor: move;
}


/* ======= Botão Terciário ====== */
button.tertiary{
    background-color: transparent;
    font-family: var(--font-primary);
    border: 0;
    color: var(--cor-texto);
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 24px;

    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    /* cursor: pointer; */
}

.hoveer:hover {
    background-color: var(--cor-button-secondaryHover);
   
} 

.focuss:focus {
    outline: 3px solid var(--cor-button-secondaryFocus);
}

button.tertiary:disabled {
    opacity: 0.56;
    cursor: not-allowed;
}

.loading{
    cursor: progress;
}
.loading i {
    font-size: 18px;
    animation: spin 700ms normal linear;
}
.movablee.movablee{
    cursor: move;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}

/* ======= Footer ====== */

footer{
    display: flex;
    width: 100%;
    height: 12vh;
    background-color: var(--cor-rodape);
    justify-content: center;
    align-items: center;
 
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundary);
    color: var(--cor-sociallist);
    font-size: 1.2rem;
}

.social-list a{
    margin: 0 2rem;
    color: var(--cor-sociallist);
    font-size: 1.3rem;
}

.social-list ul{
    display: flex;
}