*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Inter";

}

:root{
    --cor-background1: #1E1E1E;
    --cor-background2: #130F1E;
    --cor-Frame: #1C162C;
    --cor-buttonPrimary: #8257E5;
    --cor-buttonHover:#9674E5;
    --cor-buttonFocus:#8257E5 #D9CDF7;
    --cor-button-secondary: #3C3748;
    --cor-button-secondaryHover:#6A617F;
    --cor-button-secondaryF: #D9CDF7;
    --cor-button-secondaryFocus:#FFFFFF;
    --cor-texto:#fff;
}

body{
    position: relative;
    width: 1517px;
    height: 947px;
    background: #0B0911;
    border-radius: 8px;
    display: grid;
    height: 100vh;
    place-content: center;
    gap: 16px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 10vh auto;
    grid-gap: 32px;
    padding: 32px;
    
}
/* ======= Botão Primário ====== */
button{
    background-color: var(--cor-buttonPrimary);
    font-family: var(--font-primary);
    border: 0;
    color: var(--cor-texto);
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 24px;

    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.hover:hover {
    background-color: var(--cor-buttonHover);
}

.focus:focus {
    outline: 3px solid #D9CDF7;
}

button:disabled {
    opacity: 0.56;
    cursor: not-allowed;
    /* background-color: var(--cor-buttonDefault); */
}

.loading{
    cursor: progress;
}

.loading i {
    font-size: 18px;
    animation: spin 700ms normal linear;
}

.movable{
    cursor: move;
}

/* ======= Botão Secundário ====== */
button.secondary{
    background-color: var(--cor-button-secondary);
    font-family: var(--font-primary);
    border: 0;
    color: var(--cor-texto);
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 24px;

    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.hoverr:hover {
    background-color: var(--cor-button-secondaryHover);
}

.focus:focus {
    outline: 3px solid var(--cor-button-secondaryFocus);
}

button.disabled:disabled {
    opacity: 0.56;
    cursor: not-allowed;
}

.loading.loading i {
    font-size: 18px;
    animation: spin 700ms normal linear;
}

.movable.movable{
    cursor: move;
}


/* ======= Botão Terciário ====== */
button.tertiary{
    background-color: transparent;
    font-family: var(--font-primary);
    border: 0;
    color: var(--cor-texto);
    padding: 12px 12px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border-radius: 24px;

    justify-content: center;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.terciary:hover {
    background-color: var(--cor-button-secondaryHover);
}

.focuss:focus {
    outline: 3px solid var(--cor-button-secondaryFocus);
}

button.tertiary:disabled {
    opacity: 0.56;
    cursor: not-allowed;
}

.loadingg.loadingg i {
    font-size: 18px;
    animation: spin 700ms normal linear;
}
.movablee.movablee{
    cursor: move;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}